In [ ]:
import pandas as pd
import numpy as np

In [ ]:

path="Corona2.csv"

In [ ]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
import pandas as pd

In [ ]:
df.size

0

In [ ]:
import pandas as pd
df=pd.read_csv("Corona2.csv")

In [ ]:
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2023-01-03 4:21,33.93911,67.709953,207627,7849,199778,NaN,Afghanistan,533.356919,3.780337
1,NaN,NaN,NaN,Albania,2023-01-03 4:21,41.15330,20.168300,333812,3595,330217,NaN,Albania,11599.555220,1.076953
2,NaN,NaN,NaN,Algeria,2023-01-03 4:21,28.03390,1.659600,271229,6881,264348,NaN,Algeria,618.523486,2.536971
3,NaN,NaN,NaN,Andorra,2023-01-03 4:21,42.50630,1.521800,47751,165,47586,NaN,Andorra,61801.591920,0.345543
4,NaN,NaN,NaN,Angola,2023-01-03 4:21,-11.20270,17.873900,105095,1930,103165,NaN,Angola,319.765542,1.836434

In [ ]:
#1.Write a Python program to display first 5 rows from COVID-19 dataset.
#print the dataset information and check the missing values.
df.head(5)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2023-01-03 4:21,33.93911,67.709953,207627,7849,199778,NaN,Afghanistan,533.356919,3.780337
1,NaN,NaN,NaN,Albania,2023-01-03 4:21,41.15330,20.168300,333812,3595,330217,NaN,Albania,11599.555220,1.076953
2,NaN,NaN,NaN,Algeria,2023-01-03 4:21,28.03390,1.659600,271229,6881,264348,NaN,Algeria,618.523486,2.536971
3,NaN,NaN,NaN,Andorra,2023-01-03 4:21,42.50630,1.521800,47751,165,47586,NaN,Andorra,61801.591920,0.345543
4,NaN,NaN,NaN,Angola,2023-01-03 4:21,-11.20270,17.873900,105095,1930,103165,NaN,Angola,319.765542,1.836434

In [ ]:
#2.Write a python program to replace all the missing values with
#Tobefound” for province column
import pandas as pd
import matplotlib.pylab as plt
import numpy as np
#df.replace('NaN','Tobefound',inplace = True)
df['Admin2'].replace("NaN","Tobefound",inplace=True)
df.head(5)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2023-01-03 4:21,33.93911,67.709953,207627,7849,199778,NaN,Afghanistan,533.356919,3.780337
1,NaN,NaN,NaN,Albania,2023-01-03 4:21,41.15330,20.168300,333812,3595,330217,NaN,Albania,11599.555220,1.076953
2,NaN,NaN,NaN,Algeria,2023-01-03 4:21,28.03390,1.659600,271229,6881,264348,NaN,Algeria,618.523486,2.536971
3,NaN,NaN,NaN,Andorra,2023-01-03 4:21,42.50630,1.521800,47751,165,47586,NaN,Andorra,61801.591920,0.345543
4,NaN,NaN,NaN,Angola,2023-01-03 4:21,-11.20270,17.873900,105095,1930,103165,NaN,Angola,319.765542,1.836434

In [ ]:
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2023-01-03 4:21,33.939110,67.709953,207627,7849,199778,NaN,Afghanistan,533.356919,3.780337
1,NaN,NaN,NaN,Albania,2023-01-03 4:21,41.153300,20.168300,333812,3595,330217,NaN,Albania,11599.555220,1.076953
2,NaN,NaN,NaN,Algeria,2023-01-03 4:21,28.033900,1.659600,271229,6881,264348,NaN,Algeria,618.523486,2.536971
3,NaN,NaN,NaN,Andorra,2023-01-03 4:21,42.506300,1.521800,47751,165,47586,NaN,Andorra,61801.591920,0.345543
4,NaN,NaN,NaN,Angola,2023-01-03 4:21,-11.202700,17.873900,105095,1930,103165,NaN,Angola,319.765542,1.836434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4011,NaN,NaN,NaN,West Bank and Gaza,2023-01-03 4:21,31.952200,35.233200,703228,5708,697520,NaN,West Bank and Gaza,13784.956960,0.811686
4012,NaN,NaN,NaN,Winter Olympics 2022,2023-01-03 4:21,39.904200,116.407400,535,0,535,NaN,Winter Olympics 2022,NaN,0.000000
4013,NaN,NaN,NaN,Yemen,2023-01-03 4:21,15.552727,48.516388,11945,2159,9786,NaN,Yemen,40.048994,18.074508
4014,NaN,NaN,NaN,Zambia,2023-01-03 4:21,-13.133897,27.849332,334661,4024,330637,NaN,Zambia,1820.397090,1.202411
4015,NaN,NaN,NaN,Zimbabwe,2023-01-03 4:21,-19.015438,29.154857,259981,5637,254344,NaN,Zimbabwe,1749.191125,2.168235

In [ ]:
missing_data = df.isnull()
missing_data.head(5)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,True,True,True,False,False,False,False,False,False,False,True,False,False,False
1,True,True,True,False,False,False,False,False,False,False,True,False,False,False
2,True,True,True,False,False,False,False,False,False,False,True,False,False,False
3,True,True,True,False,False,False,False,False,False,False,True,False,False,False
4,True,True,True,False,False,False,False,False,False,False,True,False,False,False

In [ ]:
df.isnull().sum()#FIND OUT ALL THE MISSING VALUES IN A DATASET

FIPS                    748
Admin2                  744
Province_State          179
Country_Region            0
Last_Update               0
Lat                      91
Long_                    91
Confirmed                 0
Deaths                    0
Recovered                 0
Active                 4016
Combined_Key              0
Incident_Rate            94
Case_Fatality_Ratio      42
dtype: int64

In [ ]:
#Normalize the values for “Confirmed” column as per the z-score.
df['ZSCORE']= (df['Confirmed']-df['Confirmed'].mean())/df['Confirmed'].std()

In [ ]:
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,ZSCORE
0,NaN,NaN,NaN,Afghanistan,2023-01-03 4:21,33.939110,67.709953,207627,7849,199778,NaN,Afghanistan,533.356919,3.780337,0.041076
1,NaN,NaN,NaN,Albania,2023-01-03 4:21,41.153300,20.168300,333812,3595,330217,NaN,Albania,11599.555220,1.076953,0.161652
2,NaN,NaN,NaN,Algeria,2023-01-03 4:21,28.033900,1.659600,271229,6881,264348,NaN,Algeria,618.523486,2.536971,0.101851
3,NaN,NaN,NaN,Andorra,2023-01-03 4:21,42.506300,1.521800,47751,165,47586,NaN,Andorra,61801.591920,0.345543,-0.111695
4,NaN,NaN,NaN,Angola,2023-01-03 4:21,-11.202700,17.873900,105095,1930,103165,NaN,Angola,319.765542,1.836434,-0.056899
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4011,NaN,NaN,NaN,West Bank and Gaza,2023-01-03 4:21,31.952200,35.233200,703228,5708,697520,NaN,West Bank and Gaza,13784.956960,0.811686,0.514650
4012,NaN,NaN,NaN,Winter Olympics 2022,2023-01-03 4:21,39.904200,116.407400,535,0,535,NaN,Winter Olympics 2022,NaN,0.000000,-0.156812
4013,NaN,NaN,NaN,Yemen,2023-01-03 4:21,15.552727,48.516388,11945,2159,9786,NaN,Yemen,40.048994,18.074508,-0.145909
4014,NaN,NaN,NaN,Zambia,2023-01-03 4:21,-13.133897,27.849332,334661,4024,330637,NaN,Zambia,1820.397090,1.202411,0.162464
4015,NaN,NaN,NaN,Zimbabwe,2023-01-03 4:21,-19.015438,29.154857,259981,5637,254344,NaN,Zimbabwe,1749.191125,2.168235,0.091103

In [ ]:
df[df['ZSCORE']>2.5]

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,ZSCORE
7,NaN,NaN,NaN,Argentina,2023-01-03 4:21,-38.416100,-63.616700,9963697,130171,9833526,NaN,Argentina,22045.637140,1.306453,9.363541
10,NaN,NaN,New South Wales,Australia,2023-01-03 4:21,-33.868800,151.209300,3825104,5804,3819300,NaN,"New South Wales, Australia",47118.797730,0.151734,3.497775
15,NaN,NaN,Victoria,Australia,2023-01-03 4:21,-37.813600,144.963100,2838417,6405,2832012,NaN,"Victoria, Australia",42812.365190,0.225654,2.554941
17,NaN,NaN,NaN,Austria,2023-01-03 4:21,47.516200,14.550100,5709405,21444,5687961,NaN,Austria,63392.754040,0.375591,5.298329
54,NaN,NaN,Minas Gerais,Brazil,2023-01-03 4:21,-18.512200,-44.555000,4086432,64474,4021958,NaN,"Minas Gerais, Brazil",19304.040560,1.577758,3.747488
57,NaN,NaN,Parana,Brazil,2023-01-03 4:21,-25.252100,-52.021500,2863709,45720,2817989,NaN,"Parana, Brazil",25045.651300,1.596531,2.579109
61,NaN,NaN,Rio Grande do Sul,Brazil,2023-01-03 4:21,-30.034600,-51.217700,2901027,41517,2859510,NaN,"Rio Grande do Sul, Brazil",25498.515060,1.431114,2.614768
66,NaN,NaN,Sao Paulo,Brazil,2023-01-03 4:21,-23.550500,-46.633300,6317683,177439,6140244,NaN,"Sao Paulo, Brazil",13758.305400,2.808609,5.879572
188,NaN,NaN,NaN,Czechia,2023-01-03 4:21,49.817500,15.473000,4580077,42140,4537937,NaN,Czechia,42768.556340,0.920072,4.219194
191,NaN,NaN,NaN,Denmark,2023-01-03 4:21,56.263900,9.501800,3385836,7758,3378078,NaN,Denmark,58455.064510,0.229131,3.078030
217,NaN,NaN,NaN,France,2023-01-03 4:21,46.227600,2.213700,38306086,158637,38147449,NaN,France,58685.498640,0.414130,36.446262
221,NaN,NaN,Baden-Wurttemberg,Germany,2023-01-03 4:21,48.661600,9.350100,4973302,18609,4954693,NaN,"Baden-Wurttemberg, Germany",44927.839320,0.374178,4.594942
222,NaN,NaN,Bayern,Germany,2023-01-03 4:21,48.790400,11.497900,6615514,27573,6587941,NaN,"Bayern, Germany",50590.006470,0.416793,6.164166
227,NaN,NaN,Hessen,Germany,2023-01-03 4:21,50.652100,9.162400,2854548,11909,2842639,NaN,"Hessen, Germany",45557.532950,0.417194,2.570355
229,NaN,NaN,Niedersachsen,Germany,2023-01-03 4:21,52.636700,9.845100,3758179,12335,3745844,NaN,"Niedersachsen, Germany",47080.532190,0.328217,3.433825
230,NaN,NaN,Nordrhein-Westfalen,Germany,2023-01-03 4:21,51.433200,7.661600,7801616,29919,7771697,NaN,"Nordrhein-Westfalen, Germany",43505.090240,0.383497,7.297552
239,NaN,NaN,NaN,Greece,2023-01-03 4:21,39.074200,21.824300,5548487,34779,5513708,NaN,Greece,53232.823460,0.626820,5.144563
265,NaN,NaN,Karnataka,India,2023-01-03 4:21,14.705180,76.166436,4072091,40308,4031783,NaN,"Karnataka, India",6027.130123,0.989860,3.733785
266,NaN,NaN,Kerala,India,2023-01-03 4:21,10.450898,76.405749,6828566,71558,6757008,NaN,"Kerala, India",19127.934290,1.047921,6.367749
270,NaN,NaN,Maharashtra,India,2023-01-03 4:21,19.449759,76.108221,8136687,148417,7988270,NaN,"Maharashtra, India",6607.445158,1.824047,7.617731
280,NaN,NaN,Tamil Nadu,India,2023-01-03 4:21,11.006091,78.400624,3594456,38049,3556407,NaN,"Tamil Nadu, India",4617.674067,1.058547,3.277378
287,NaN,NaN,NaN,Indonesia,2023-01-03 4:21,-0.789300,113.921300,6720443,160635,6559808,NaN,Indonesia,2456.988166,2.390244,6.264432
288,NaN,NaN,NaN,Iran,2023-01-03 4:21,32.427908,53.688046,7561309,144693,7416616,NaN,Iran,9002.313563,1.913597,7.067926
291,NaN,NaN,NaN,Israel,2023-01-03 4:21,31.046051,34.851612,4765806,12055,4753751,NaN,Israel,55060.752410,0.252948,4.396668
300,NaN,NaN,Lombardia,Italy,2023-01-03 4:21,45.466794,9.190347,4059723,44688,4015035,NaN,"Lombardia, Italy",40352.796970,1.100765,3.721967
355,NaN,NaN,Tokyo,Japan,2023-01-03 4:21,35.711343,139.446921,4006090,6804,3999286,NaN,"Tokyo, Japan",28778.011510,0.169841,3.670717
368,NaN,NaN,NaN,"Korea, South",2023-01-03 4:21,35.907757,127.766922,29220591,32301,29188290,NaN,"Korea, South",56994.454150,0.110542,27.764569
513,NaN,NaN,NaN,Philippines,2023-01-03 4:21,12.879721,121.774017,4065173,65415,3999758,NaN,Philippines,3709.739687,1.609157,3.727174
514,NaN,NaN,NaN,Poland,2023-01-03 4:21,51.919400,19.145100,6368749,118533,6250216,NaN,Poland,16827.794730,1.861166,5.928369
515,NaN,NaN,NaN,Portugal,2023-01-03 4:21,39.399900,-8.224500,5554058,25714,5528344,NaN,Portugal,54469.134010,0.462977,5.149886
517,NaN,NaN,NaN,Romania,2023-01-03 4:21,45.943200,24.966800,3312085,67408,3244677,NaN,Romania,17216.653230,2.035213,3.007557
560,NaN,NaN,Moscow,Russia,2023-01-03 4:21,55.750446,37.617494,3302315,47504,3254811,NaN,"Moscow, Russia",26404.857070,1.438506,2.998221
618,NaN,NaN,NaN,South Africa,2023-01-03 4:21,-30.559500,22.937500,4049366,102568,3946798,NaN,South Africa,6827.609917,2.532940,3.712070
665,NaN,NaN,NaN,Switzerland,2023-01-03 4:21,46.818200,8.227500,4399516,14174,4385342,NaN,Switzerland,50834.317590,0.322172,4.046658
667,NaN,NaN,NaN,Taiwan*,2023-01-03 4:21,23.700000,121.000000,8889346,15299,8874047,NaN,Taiwan*,37323.886210,0.172105,8.336939
670,NaN,NaN,NaN,Thailand,2023-01-03 4:21,15.870032,100.992541,4723919,33669,4690250,NaN,Thailand,6767.794397,0.712734,4.356643
676,NaN,NaN,NaN,Turkey,2023-01-03 4:21,38.963700,35.243300,17042722,101492,16941230,NaN,Turkey,20207.387400,0.595515,16.127941
890,6037.0,Los Angeles,California,US,2023-01-03 4:21,34.308284,-118.228241,3631736,34671,3597065,NaN,"Los Angeles, California, US",36175.886960,0.954667,3.313001
3992,NaN,NaN,England,United Kingdom,2023-01-03 4:21,52.355500,-1.174300,20392339,183348,20208991,NaN,"England, United Kingdom",36429.723170,0.885833,19.328685
4010,NaN,NaN,NaN,Vietnam,2023-01-03 4:21,14.058324,108.277199,11525336,43186,11482150,NaN,Vietnam,11840.460020,0.374705,10.855773

In [ ]:
#Create bin values for “Death” column in the data set.

In [ ]:
import pandas as pd
import numpy as np%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot

bins = np.linspace(min(df["Death"]), max(df["Death"]), 4)

#print(bins)
#groupnames=['low','medium','high']

SyntaxError: ignored

In [ ]:
#Write a Python program to get the maximum number of confirmed,
#eaths, recovered and active cases of Novel Coronavirus (COVID-19)
#country wise

In [ ]:

#df['Death'].max()
df2=df[['Confirmed','Death']] [df.Confirmed==df['Death'].max()]

KeyError: ignored

NameError: ignored